@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "New Atten Round", sans-serif;
}

input {
  font-family: "New Atten Round", sans-serif;
  padding: 12px 8px;
  border-radius: 8px;
  color: #fff;
  width: 100%;
}

.app-container {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.app-container.full-screen {
  position: unset;
  bottom: unset;
  right: unset;
}

.chatbot-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 550px;
  border-radius: 16px;
  background: rgb(24, 26, 31);
  background: radial-gradient(
    circle,
    rgba(24, 26, 31, 1) 0%,
    rgba(5, 8, 15, 1) 100%
  );
  padding: 16px;
}

.chatbot-container.full-screen {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}

.chatbot-header {
  position: relative;
  z-index: 15;
  padding: 0 16px 16px 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid #9b9c9f;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.chatbot-header,
.input-container {
  flex-shrink: 0;
}

.chatbot-header-logo {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.chatbot-header-logo-text {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.chatbot-header-button {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  cursor: pointer;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.text-input {
  width: 100%;
  padding-right: 40px;
  background: #36383e;
  border: none;
}

.input-send-message {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.main-container {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.chat-container {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px;
  color: #fff;
  border-radius: 8px;
  max-width: 230px;
}

.bot-chat {
  background: #36383e;
}

.user-chat {
  align-self: flex-end;
  background: #5ec8bd;
}

.input-container {
  padding: 8px 0;
  flex-shrink: 0;
  width: 100%;
  -webkit-box-shadow: 0px -2px 10px 0px rgba(24, 26, 31, 0.6);
  box-shadow: 0px -2px 10px 0px rgba(24, 26, 31, 0.6);
}

.chatbot-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  background: radial-gradient(
    circle,
    rgba(24, 26, 31, 1) 0%,
    rgba(5, 8, 15, 1) 100%
  );
  border-radius: 100%;
  -webkit-box-shadow: 6px 6px 12px 6px rgba(24, 26, 31, 0.1);
  box-shadow: 6px 6px 12px 6px rgba(24, 26, 31, 0.1);
  scale: 1;
  transition: scale ease-in-out 0.3s;
  cursor: pointer;
}

.chatbot-button:hover {
  scale: 1.05;
  transition: scale ease-in-out 0.3s;
}

.chatbot-button-icon {
  width: 42px;
  height: 42px;
  transform: translateY(-4px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loading-icon {
  animation: spin 1s linear infinite;
}

/* FUTURE ERROR MODAL THIS IS JUST A PLACEHOLDER FOR NOW */
.test-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.test-modal h2,
.test-modal p {
  text-shadow: 1px 1px 2px black;
}

.test-modal h2 {
  font-size: 2em;
  font-weight: bold;
}

.test-modal p {
  font-size: 1.2em;
}
