@import url("./fonts.css");

#huginn_root_container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#huginn_root_container body {
  font-family: "New Atten Round", sans-serif;
}

#huginn_root_container input {
  font-family: "New Atten Round", sans-serif;
  padding: 12px 8px;
  border-radius: 8px;
  color: #fff;
  width: 100%;
}

#huginn_root_container .app-container {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 1000;
}

#huginn_root_container .app-container.full-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1000;
  background: rgba(10, 24, 46, 0.8);
}

#huginn_root_container .chatbot-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 550px;
  border-radius: 16px;
  background: rgb(15, 34, 62);
  background: radial-gradient(
    circle,
    rgba(15, 34, 62, 1) 0%,
    rgba(10, 24, 46, 1) 100%
  );
  padding: 16px;
  overflow: auto;
  flex: 1;
}

#huginn_root_container .test {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#huginn_root_container .chatbot-container.full-screen {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 16px;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}

#huginn_root_container .chatbot-header {
  font-family: "New Atten Round", sans-serif;
  position: relative;
  z-index: 15;
  padding: 0 16px 16px 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid #fceb6c;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#huginn_root_container .chatbot-header.full-screen {
  border-right: 1px solid #fceb6c;
  border-bottom: unset;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#huginn_root_container .chatbot-header,
#huginn_root_container .input-container {
  flex-shrink: 0;
}

#huginn_root_container .chatbot-header-logo {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

#huginn_root_container .chatbot-header-logo.full-screen {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#huginn_root_container .chatbot-header-logo-icon.full-screen {
  width: 70px;
  height: 70px;
}

#huginn_root_container .chatbot-header-logo-text {
  color: #fbea6a;
  font-size: 18px;
  font-weight: bold;
}

#huginn_root_container .chatbot-header-logo-text.full-screen {
  font-size: 24px;
}

#huginn_root_container .chatbot-header-button {
  display: flex;
  align-items: center;
  gap: 16px;
}

#huginn_root_container .chatbot-header-button.full-screen {
  flex-direction: column;
  align-items: center;
}

#huginn_root_container .icon {
  cursor: pointer;
}

#huginn_root_container .icon:hover {
  cursor: unset;
  color: unset; /* Remove color change */
  background: unset; /* Remove background change */
  /* Add any other properties you need to unset */
}

#huginn_root_container .input-container {
  position: relative;
  display: flex;
  align-items: center;
}

#huginn_root_container .text-input {
  width: 100%;
  padding-right: 40px;
  background: #0f223e;
  border: none;
}

#huginn_root_container .input-send-message {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

#huginn_root_container .main-container {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#huginn_root_container .chat-container {
  font-family: "New Atten Round", sans-serif;
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  max-width: 230px;
}

#huginn_root_container .app-container.full-screen .chat-container {
  max-width: 600px;
}

#huginn_root_container .bot-chat {
  background: #5b1c16;
  color: #fff !important;
  box-shadow: 0px 2px 10px 0px rgb(7, 17, 32, 0.8);
}

#huginn_root_container .bot-chat.chat-content {
  color: #fff !important;
}

#huginn_root_container .user-chat {
  align-self: flex-end;
  background: #fbea6a;
  color: #0f223e !important;
  box-shadow: 0px 2px 10px 0px rgb(7, 17, 32, 0.8);
}

#huginn_root_container .user-chat.chat-content {
  color: #0f223e !important;
}

#huginn_root_container .input-container {
  flex-shrink: 0;
  padding: 8px 0;
  width: 100%;
  -webkit-box-shadow: 0px -2px 10px 0px rgba(7, 17, 32, 0.8);
  box-shadow: 0px -2px 10px 0px rgb(7, 17, 32, 0.8);
}

#huginn_root_container .chatbot-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  background: radial-gradient(
    circle,
    rgba(15, 34, 62, 1) 0%,
    rgba(10, 24, 46, 1) 100%
  );
  border-radius: 100%;
  scale: 1;
  transition: scale ease-in-out 0.3s;
  cursor: pointer;
}

#huginn_root_container .chatbot-button:hover {
  scale: 1.05;
  transition: scale ease-in-out 0.3s;
}

#huginn_root_container .chatbot-button-icon {
  width: 42px;
  height: 42px;
  transform: translateY(-4px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#huginn_root_container .loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#huginn_root_container .loading-icon {
  animation: spin 1s linear infinite;
}

#huginn_root_container .start-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

#huginn_root_container .start-logo {
  width: 66px;
  height: 66px;
}

#huginn_root_container .start-headline {
  font-family: "New Atten Round", sans-serif;
  font-size: 24px;
  color: #fbea6a;
}

#huginn_root_container .button {
  font-size: 14px;
  font-weight: 700;
  padding: 16px;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
}

#huginn_root_container .chat-content {
  font-family: "New Atten Round", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

#huginn_root_container .button.primary {
  color: #0a182e;
  background: #fbea6a;
}

#huginn_root_container .button.outline {
  color: #fbea6a;
  background: transparent;
  border: 1px solid #fbea6a;
}

#huginn_root_container .button.primary:hover {
  background: #fbea6a;
  scale: 0.98;
  transition: all 0.2s;
}

#huginn_root_container .button.outline:hover {
  color: #fbea6a;
  background: transparent;
  border: 1px solid #fbea6a;
  scale: 0.98;
  transition: all 0.2s;
}

#huginn_root_container .huggin-logo-icon {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 9999999999999999;
}

@media screen and (max-width: 645px) {
  #huginn_root_container .chatbot-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }

  #huginn_root_container .app-container {
    position: unset;
    bottom: 32px;
    right: 32px;
    z-index: 1000;
  }

  #huginn_root_container .chatbot-container.full-screen {
    display: unset;
    grid-template-columns: unset;
    gap: unset;
    width: unset;
    height: unset;
    border-radius: unset;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(24, 26, 31);
    background: radial-gradient(
      circle,
      rgba(15, 34, 62, 1) 0%,
      rgba(10, 24, 46, 1) 100%
    );
    padding: 16px;
    overflow: auto;
    flex: 1;
  }

  #huginn_root_container .chatbot-header.full-screen {
    border-right: unset;
    border-bottom: unset;
    flex-direction: unset;
    justify-content: unset;
    align-items: unset;
    gap: unset;

    font-family: "New Atten Round", sans-serif;
    position: relative;
    z-index: 15;
    padding: 0 16px 16px 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid #9b9c9f;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  #huginn_root_container .chatbot-header-logo.full-screen {
    flex-direction: unset;
    justify-content: unset;
    align-items: unset;
    gap: unset;

    display: flex;
    align-items: flex-end;
    gap: 8px;
  }

  #huginn_root_container .chatbot-header-logo-icon.full-screen {
    width: 32px;
    height: 32px;
  }

  #huginn_root_container .chatbot-header-logo-text.full-screen {
    font-size: unset;

    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }

  #huginn_root_container .chatbot-header-button.full-screen {
    flex-direction: unset;
    align-items: unset;

    display: flex;
    align-items: center;
    gap: 16px;
  }
}
